@import url('https://fonts.googleapis.com/css?family=Oswald');
@import url('https://fonts.googleapis.com/css?family=Arvo');

* { box-sizing: border-box; }

body {
	display: flex;
	display: -webkit-flex;
	flex-direction: column;
	min-height: 100vh;
	padding-top: 51px;
	color: rgba(62, 65, 71, 1);
}

p { line-height: 25px; }

.row { margin: 0!important; }

.login-register {
	margin: 10px 0 0 0;
}

.admin-container,
.home-container,
.single-container,
.error-container,
.about-container,
.mentions-container,
.login-container,
.profile-container {
	flex: 1 1 0;
}

/* /!\ Admin Page /!\ */
.admin-nav { margin: 40px 0 0 0!important; }

.list-article {
	border: 1px solid #d8d8d8;
	margin-bottom: 20px;
	padding: 10px;
}

.admin-container article h4 { margin: 0; }

.dashboard-left,
.dashboard-right,
.signaled-comments {
	border: 1px solid #d8d8d8;
}

.dashboard-right article {
	padding: 10px 0;
}

@media (max-width: 992px) {
	.dashboard-left {
		margin-bottom: 20px;
	}
}

.signaled-comments {
	padding: 10px 15px;
	margin-top: 20px;
}

.about-description-form {
	display: none;
}

.admin-about-description {
	background-color: #f8f8f8;
	border: 1px solid #d8d8d8;
	padding: 5px;
}

/* Home Page */
.home-container .container { margin: 30px auto; }
.home-container p { margin: 0; }

.home-pic-top {
	background-image: url('../img/home-pic-top.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	height: 400px;
}

@media (max-width: 768px) {
	.home-pic-top {
		background-position: right;
		height: 200px;
	}
}

.home-container article {
	margin-bottom: 20px;
}

.home-container article header p { color: #606060; }

.home-container article header { border: 1px solid #233;}

.date-comments {
	color: grey;
	font-weight: bold;
}

/* Single Page */
.single-container { padding-top: 30px; }

.single-container aside h5 {
	margin: 0;
}

.single-container aside hr {
	margin: 5px 0;
}

.aside-article-name {
	display: inline-block;
	color: #79a594;
	padding: 10px 0;
}

.article-unique-header {
	border-radius: 10px;
	padding: 0 0 20px 0;
}

.date-post {
	color: rgba(62, 65, 71, 1);
	font-weight: bold;
}

.article-unique-header h1 {
	color: #79a594;
	font-family: 'Oswald', sans-serif;
	font-size: 5em;
	font-weight: 600;
	line-height: 1.5em;
	text-transform: uppercase;
}

@media (max-width: 768px) {
	.article-unique-header h1 {
		font-size: 3em;
	}
}

.single-container .article-content { padding: 10px 0px; }
.single-container .article-content p {
	font-family: 'Arvo';
	font-weight: 500;
	letter-spacing: -0.01em;
	margin-bottom: 5px;
	text-indent: 3em;
}

#comments,
#poster-commentaire {
	font-family: 'Oswald', sans-serif;
	font-size: 1.7em;
	font-weight: 400;
	line-height: 46px;
}

.comment-footer {
	display: none;
}

.comment-footer textarea {
	margin-top: 5px;
	margin-bottom: 10px;
	padding: 5px;
	resize: none;
	width: 100%;
}

.comment {
	background-color: rgba(121, 165, 148, .1);
	border-radius: 10px;
	margin-bottom: 10px;
	padding: 15px;
}

.comment hr {
	margin: 5px;
}

.subComment {
	background-color: rgba(121, 165, 148, .2);
	border-radius: 10px;
	margin: 0 0 10px 25px;
	padding: 10px;
}

.subSubComment {
	background-color: rgba(121, 165, 148, .3);
	border-radius: 10px;
	margin: 0 0 10px 25px;
	padding: 10px;
}

.repondre-commentaire {
	cursor: pointer;
}

.repondre-commentaire:hover {
	text-decoration: underline;
}

.signal {
	font-size: .7em;
}

/* Login */
.login-form {
	border: 1px solid #d8d8d8;
	border-radius: 20px;
	padding: 25px 20px;
}

.img-login {
	height: 200px;
	width: 200px;
	margin: 0 auto;
}

/* profile */
.profile-picture {
	display: block;
	width: 200px;
	margin: 40px auto 20px auto;
}

@media (max-width: 992px) {
	.profile-picture {
		display: block;
		width: 300px;
	}
}

/* Footer */
footer {
	background-color: rgba(248, 248, 248, 1);
	border-top: 1px solid rgba(231, 231, 231, 1);
	padding: 20px 0;
	margin-top: 30px;
}

footer .container p { margin: 0; }