@import url('https://fonts.googleapis.com/css?family=Oswald');
@import url('https://fonts.googleapis.com/css?family=Arvo');

* { box-sizing: border-box; }

body {
	display: flex;
	display: -webkit-flex;
	flex-direction: column;
	min-height: 100vh;
	padding-top: 51px;
	color: rgba(62, 65, 71, 1);
}

p { line-height: 25px; }

.row { margin: 0!important; }

.navbar {
	background: linear-gradient(to right, rgba(23, 46, 90, 1) 0%, rgba(23, 94, 113, 1) 100%);
}

.navbar a {
	color: #fff!important;
}

.admin-container,
.home-container,
.single-container,
.error-container,
.about-container,
.mentions-container,
.login-container,
.profile-container {
	flex: 1 1 0;
}

/* /!\ Admin Page /!\ */
.admin-nav { margin: 40px 0 0 0!important; }

.list-article {
	border: 1px solid #d8d8d8;
	margin-bottom: 20px;
	padding: 10px;
}

.admin-container article h4 { margin: 0; }

.dashboard-left,
.dashboard-right,
.signaled-comments {
	border: 1px solid #d8d8d8;
}

.dashboard-right article {
	padding: 10px 0;
}

.signaled-comments {
	padding: 10px 15px;
	margin-top: 20px;
}

.about-description-form {
	display: none;
}

.admin-about-description {
	background-color: #f8f8f8;
	border: 1px solid #d8d8d8;
	padding: 5px;
}

/* Home Page */
.home-container .container { margin: 30px auto; }
.home-container p { margin: 0; }

.home-pic-top {
	align-items: center;
	background-image: url('../img/home-pic-top.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-position: bottom;
	display: flex;
	display: -webkit-flex;
	flex-direction: column;
	justify-content: center;
	height: calc(100vh - 50px);
}

.home-pic-top h1,
.home-pic-top h1 small {
	margin: 0;
	text-shadow: 2px 2px #333;
	color: #fff;
}

.home-pic-top h1 {
	color: #fff;
	font-size: 5em;`
}

.home-container article {
	margin-bottom: 40px;
	outline: .6em solid #d8d8d8;
	box-shadow: 0 0 0 .4em #d8d8d8; /* todo calculate max of this */
	border-radius: .8em;
	padding: 1em;
	background: #f8f8f8;
	font: 100%/1.5 sans-serif;
}

.home-container article header p { color: #606060; }

.home-container article header { border: 1px solid #233;}

.date-comments {
	color: grey;
	font-weight: bold;
}

/* Single Page */
.single-container { padding-top: 30px; }

.single-container aside h5 { margin: 0; }

.single-container aside hr { margin: 5px 0; }

.aside-article-name {
	display: inline-block;
	color: rgba(23, 94, 113, 1);
	padding: 10px 0;
}

.article-unique-header {
	border-radius: 10px;
	padding: 0 0 20px 0;
}

.date-post {
	color: rgba(62, 65, 71, 1);
	font-weight: bold;
}

.article-unique-header h1 {
	color: rgba(23, 94, 113, 1);
	font-family: 'Oswald', sans-serif;
	font-size: 5em;
	font-weight: 600;
	line-height: 1.1em;
	text-transform: uppercase;
}

.single-container .article-content { padding: 10px 0px; }
.single-container .article-content p {
	font-family: 'Arvo';
	font-weight: 500;
	letter-spacing: -0.01em;
	margin-bottom: 5px;
	text-indent: 3em;
}

#comments,
#poster-commentaire {
	font-family: 'Oswald', sans-serif;
	font-size: 1.7em;
	font-weight: 400;
	line-height: 46px;
}

.comment-footer { display: none; }

.comment-footer textarea {
	margin-top: 5px;
	margin-bottom: 10px;
	padding: 5px;
	resize: none;
	width: 100%;
}

.comment {
	background-color: rgba(121, 165, 148, .1);
	border-radius: 10px;
	margin-bottom: 10px;
	padding: 15px;
}

.comment hr { margin: 5px; }

.subComment {
	background-color: rgba(121, 165, 148, .2);
	border-radius: 10px;
	margin: 0 0 10px 25px;
	padding: 10px;
}

.subSubComment {
	background-color: rgba(121, 165, 148, .3);
	border-radius: 10px;
	margin: 0 0 10px 25px;
	padding: 10px;
}

.repondre-commentaire { cursor: pointer; }

.repondre-commentaire:hover { text-decoration: underline; }

.signal { font-size: .7em; }

/* Login */
.login-form {
	border: 1px solid #d8d8d8;
	border-radius: 20px;
	padding: 25px 20px;
}

.img-login {
	height: 200px;
	width: 200px;
	margin: 0 auto;
}

/* Footer */
.main-footer {
	color: #fff;
	padding: 20px 0;
	margin-top: 150px;
	position: relative;
	background: linear-gradient(to right, #175e71 0%, #172e5a 100%);
}

.main-footer a {
	color: #fff;
}

.main-footer a:hover {
	color: #d8d8d8;
}

.main-footer:after {
	content: '';
	width: 100%;
	height: 100%;
	position: absolute;
	background: inherit;
	z-index: -1;
	bottom: 0;
	transform-origin: right bottom;
	transform: skewY(3deg);
}

.main-footer hr {
	border: 0px;
}

.main-footer .container p { margin: 0; }

/* Media queries */
	
	/* Cadre gauche sur le tableau de bord */
	@media (max-width: 992px) {
		.dashboard-left {
			margin-bottom: 20px;
		}
	}
	
	/* Image sur la page d'accueil */
	@media (max-width: 1024px) {
		.home-pic-top {
			background-attachment: initial;
		}
	}

	@media (max-width: 768px) {
		.home-pic-top {
			height: 300px;
		}
	}

	/* Texte écrit sur l'image de la page d'accueil */
	@media (max-width: 992px) {
		.home-pic-top h1 {
			font-size: 6.5vw;
		}

		.home-pic-top h1,
		.home-pic-top h1 small {
			text-shadow: 1px 1px #333;
		}
	}
	
	/* Header d'un article unique */
	@media (max-width: 768px) {
		.article-unique-header h1 {
			font-size: 3em;
		}
	}