* {
	box-sizing: border-box;
}

body {
	display: flex;
	display: -webkit-flex;
	flex-direction: column;
	min-height: 100vh;
}

.single-article {
	border: 1px solid #d8d8d8;
}

.single-article h3 {
	background-color: #f8f8f8;
	margin-top: 0;
	padding: 10px;
}

.article-content {
	padding: 0 10px;
}

.page-container { flex: 1; }

.article { margin: 0 0 10px 0; }

.page-header {
	margin-top: 0;
}

footer {
	background-color: #F8F8F8;
	border-top: 1px solid #E7E7E7;
	padding: 10px 0;
}

footer p { margin: 0; }

footer .container {
	display: flex;
	display: -webkit-flex;
	flex-direction: row;
	justify-content: space-between;
}

.nothing { 
	content: "";
	flex: 1;
}

.pic-top {
	background-image: url('http://az616578.vo.msecnd.net/files/2016/07/27/636052435154552834-1508689237_1-jqpiys1tqk6DwAEfyGTZYA.jpeg');
	background-repeat: no-repeat;
	background-size: cover;
	height: 300px;
	margin-top: 20px;
}